
<!-- And wrap our search result in a bunch of <div> tags: -->
{{#if searchResultUrl}}
  <div class="row">
    <div class="col-xl">
      <div id="search-result">
        <img src="{{searchResultUrl}}" />
      </div>
    </div>
  </div>
{{/if}}
